/* Pembuat css NIM : 245510011 / Nama : Tito Shidiq Hidayat */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "roborto", sans-serif;
  background: #37404a;
  color: #fff;
  line-height: 1.6;
}

h1 {
  text-align: center;
  font-size: 28px;
  max-width: 600px;
  color: white;
  padding:40px;
  margin: 20px auto;
  background: url("gambar.jpg") center/cover no-repeat;
  border-radius: 10px;  
}

form {
  max-width: 600px;
  margin: 0 auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
}

label {
  font-weight: 600;
  font-size: 14px;
  color: black;
}

input[type="text"],input[type="date"],select,textarea {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 14px;
}

button {
  display: block;
  margin: 0px auto 0;
  background: green;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
}

.data-laporan p {
  margin-bottom: 12px;
  font-size: 14px;
  color: black;
}

.label {
  font-weight: bold;
  display: inline-block;
  min-width: 180px;
}
